In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
import configparser
# Define DB credentials
# Read database credentials from db.properties
import mysql.connector
config = configparser.ConfigParser()
config.read('db.properties')

db_config = {
    'host': config.get('mysql', 'host'),
    'user': config.get('mysql', 'user'),
    'password': config.get('mysql', 'password')
}

In [10]:
# Connect to the MySQL database using db_config
conn = mysql.connector.connect(
    host=db_config['host'],
    user=db_config['user'],
    password=db_config['password'],
    database='velocity_vehicles'
)
cursor = conn.cursor()

In [11]:
# Fetch and print all column names of the 'cars' table
cursor.execute("SHOW COLUMNS FROM cars")
columns = [row[0] for row in cursor.fetchall()]
print(columns)

['Car_id', 'Brand_ID', 'DealerUsername', 'model', 'variant', 'Price_INR', 'Engine(CC)', 'Cylinders', 'Fuel_capacity', 'Fuel_type', 'Body_type', 'Mileage', 'Gears', 'Power_steering', 'Keyless_entry', 'Power(HP)', 'Torque(NM)', 'Seating_capacity', 'Transmission_type', 'warranty', 'Sun_visor', 'Ventilation_system', 'ABS', 'Airbags', 'Colour', 'Status']

In [17]:
query = """
SELECT b.car_brand, c.model, c.variant, c.Cylinders, c.`Engine(CC)`, c.Mileage, c.Fuel_type, c.Transmission_type, c.Price_INR, c.Body_type
FROM cars c
JOIN car_brands b ON c.Brand_ID = b.brand_id
ORDER BY RAND()
LIMIT 9
"""

cursor.execute(query)
rows = cursor.fetchall()

# Define the column names as per your table structure
selected_columns = ['car_brand', 'model', 'variant', 'Cylinders', 'Engine(CC)', 'Mileage', 'Fuel_type', 'Transmission_type', 'Price_INR', 'Body_type']

# Print the column headers
print(selected_columns)

# Print each row with values in the same order as columns
for row in rows:
    formatted = "new Car"+'(' + ', '.join(f'"{item}"' if isinstance(item, str) else str(item) for item in row) + '),'
    print(formatted)

['car_brand', 'model', 'variant', 'Cylinders', 'Engine(CC)', 'Mileage', 'Fuel_type', 'Transmission_type', 'Price_INR', 'Body_type']
new Car("Maruti Suzuki", "Ciaz", "1.5L Zeta Smart Hybrid", 4, 1462, 21.56, "Petrol", "Manual", 958689.00, "Sedan"),
new Car("Maruti Suzuki", "Swift", "Zdi", 4, 1248, 25.2, "Diesel", "Manual", 757000.00, "Hatchback"),
new Car("Maruti Suzuki", "Ertiga", "Zxi", 4, 1462, 19.34, "Petrol", "Manual", 917000.00, "MPV"),
new Car("Mercedes-Benz", "Mercedes-Benz Gls", "350 Cdi", 6, 2987, 11.6, "Diesel", "Automatic", 8820000.00, "SUV"),
new Car("Mahindra", "Kuv100 Nxt", "K4+ 6Str", 3, 1198, 18.15, "Petrol", "Manual", 579645.00, "Hatchback"),
new Car("Toyota", "Corolla Altis", "Vl At Petrol", 4, 1798, 16.7, "Petrol", "Automatic", 2019000.00, "Sedan"),
new Car("Maruti Suzuki", "Celerio X", "Vxi", 3, 998, 23.1, "Petrol", "Manual", 475198.00, "Hatchback"),
new Car("Ford", "Aspire", "1.2 Trend Plus Cng", 4, 1194, 20.4, "CNG", "Manual", 758314.00, "Sedan"),
new Car("Tata", "Zest", "Xe Diesel", 4, 1248, 23.0, "Diesel", "Manual", 702946.00, "Sedan"),